<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Settings - DragonBound</title>
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/QTransform.js"></script>
    <link rel="stylesheet" href="/static/DragonBook/DragonBook.min.css?15" />
    <script src="/static/DragonBook/DragonBook.min.js?14"></script>
    <style>
        body {
            background: #3364a6 url('/static/images/aqua_bg.jpg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div id="fb-root"></div>
    <div id="titleTable">
        <div id="titleTableLeft" class="cell">
            <span id="icon"></span> <span id="titleText"><a href="/">DragonBound</a> > My Settings</span>
        </div>
        <div id="titleTableRight" class="cell right">
            <a href="/user/{{game_id}}">{{game_id}}</a> | <a href="/settings">Settings</a> | <a href="/logout?next=/settings">Logout</a>
        </div>
    </div>
    <div id="body">
        <style>
            #mainBox {
                width: 850px;
                margin: 0 auto;
            }
            
            .boxTitle {
                color: #6a7480;
                height: 36px;
                border-bottom: 1px solid #e9eaed;
                font-size: 15px;
                font-weight: 700;
                line-height: 38px;
                padding-left: 15px;
                background-color: rgba(255, 255, 255, 0.5);
            }
            
            .Box {
                border: 1px solid #dde;
                background-color: rgba(255, 255, 255, 0.5);
                margin-bottom: 15px;
                border-radius: 3px;
                color: #000;
            }
            
            .boxBody {
                padding: 15px;
                color: #37404e;
                text-align: left;
            }
            
            table {
                width: 100%;
            }
            
            td {
                padding: 3px;
            }
            
            a {
                color: inherit;
            }
            
            a:hover {
                background-color: rgba(255, 255, 255, 0.5);
                text-decoration: underline;
            }
            
            input {
                width: 400px;
            }
        </style>
        <div id="mainBox">
            <div class="Box">
                <div class="boxTitle">Settings</div>
                <div class="boxBody">
                    <form method="post">
                        <input type='hidden' name='_csrf' value='{{csrfToken}}' />
                        <table>
                            <tr>
                                <th><label for="id_wall_post_perm">[NEW] Who can post to my wall:</label></th>
                                <td><select id="id_wall_post_perm" name="wall_post_perm">
                                    <option value="e" selected="selected">Everyone</option>
                                    <option value="f">Friends</option>
                                    <option value="m">Only Me</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="id_country_privacy">Country:</label></th>
                                <td><select id="id_country_privacy" name="country_privacy">
                                    <option value="e" selected="selected">Public</option>
                                    <option value="m">PRIVATE</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="id_relationship_privacy">Relationship Status:</label></th>
                                <td><select id="id_relationship_privacy" name="relationship_privacy">
                                    <option value="e" selected="selected">Public</option>
                                    <option value="m">PRIVATE</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="id_photo_privacy">My Photo:</label></th>
                                <td><select id="id_photo_privacy" name="photo_privacy">
                                    <option value="e" selected="selected">Public</option>
                                    <option value="m">PRIVATE</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="id_photo_url">My Photo URL:</label></th>
                                <td><input id="id_photo_url" name="photo_url" type="url" value="{{photo_url}}" /><br/><span class="helptext">160x160. Blank = Use facebook photo</span></td>
                            </tr>
                            <tr>
                                <th><label for="id_page_bg_url">My page background image URL:</label></th>
                                <td><input id="id_page_bg_url" name="page_bg_url" type="url" value="{{bg_url}}" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" value="Save" style="padding: 10px 80px" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="Box">
                <div class="boxTitle">Change Password</div>
                <div class="boxBody">
                    <a href="/accounts/password/change">Change Password</a>
                </div>
            </div>
            <div class="Box">
                <div class="boxTitle">Unban users from your page</div>
                <div class="boxBody">
                    <form method="POST">
                        <input type='hidden' name='_csrf' value='{{csrfToken}}' /> When
                        you ban people from posting to your page you will see them here and be able to remove the ban.
                    </form>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</body>

</html>